<div class="dashboard-container" [attr.data-theme]="themeService.getCurrentTheme()">
  <!-- Left Sidebar Navigation -->
  <app-sidebar role="mini-admin" menuItem="Teachers">
  </app-sidebar>

  <!-- Main Content Area -->
  <div class="main-content">
    <!-- Top Header -->
    <app-header buttonText="+ Add teacher" subtitle="Create, import teachers and details" [title]="'Teacher Management'">
        <app-filters>
            <ui-select placeholder="Select Department" (valueChange)="onFilterChange()"></ui-select>
        </app-filters>
    </app-header>

    <app-bulk-actions></app-bulk-actions>

    <!-- Stats Cards Row -->
    <!-- Two Column Layout for Activity and Exams -->
    <div class="content-grid" st>
      <div class="table-container" style="height: 20rem;" [attr.data-theme]="themeService.getCurrentTheme()">
        <div class="table-header">
          <h3>Teacher Directory</h3>
          <p class="table-subtitle">
            <span class="note">View teacher info.</span>
          </p>
        </div>

        <ui-table [data]="rowData" (sortChange)="handleSort($event)" [showActions]="true"
          [columns]="tableColumns"></ui-table>
      </div>

      <div class="detail-container" [attr.data-theme]="themeService.getCurrentTheme()">
      <div class="detail-header">
        <h3>Teacher Details</h3>
        <h4 class="dept-title">{{ selectedTeacher.name }}</h4>
      </div>
      
      <div *ngIf="selectedTeacher" class="detail-content">
        <div class="info-row">
          <span class="label">Email</span>
          <span class="value">{{ selectedTeacher.email }}</span>
        </div>
        
        <!-- <div class="info-row">
          <span class="label">Classes</span>
          <span class="value">{{ selectedTeacher.classes }} </span>
        </div>
         -->
        <div class="info-row">
          <span class="label">Classes</span>
          <span class="value">
          @for (item of classes; track $index) {
            <span>{{item + ', '}}</span>
          } 
          </span>
        </div>

        <div class="info-row">
          <span class="label">Subjects</span>
          <span class="value">{{ selectedTeacher.subjects }}</span>
        </div>
      </div>
    </div>


      <!-- <app-upcoming-exams></app-upcoming-exams> -->
    </div>

    <!-- Three Column Layout for Bottom Widgets -->
    <div class="bottom-grid">
        <app-activity-alerts></app-activity-alerts>
        <!-- <div class="table-container">
            <div class="table-header">
            <h3>Filter & Export</h3>
        </div>
         <ui-button-group>
            <ui-button variant="soft">Class Filter</ui-button>
            <ui-button variant="soft" color="neutral">Export students</ui-button>
         </ui-button-group>   
        </div> -->
    </div>
  </div>
</div>